<header class="flex justify-between container mx-auto items-center">
    <div class="w-[200px]">
        <img class="w-full" src="assets/logo.png" alt="">
    </div>
    <nav>
        <ul class="flex gap-x-10">
            <li><a href="#">Homepage</a></li>
            <li>
                <app-dropdown title="Recipes" [links]="[
                {
                    title: 'Italian',
                    link: '#'
                },
                {
                    title: 'Russian',
                    link: '#'
                }
                ]"></app-dropdown>
            </li>
            <li><a href="#">Buy</a></li>
        </ul>
    </nav>
</header>